.footer {
  position: relative;
  width: 100%;
}

.nav {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  font-style: normal;


  text-align: center;
  color: #FFFFFF;
}

.author {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-bottom: 2em;
  margin-top: 2em;
  color: #FFFFFF;

}

.nav a {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.3em;
  text-align: center;
  color: #FFFFFF;
}

.up {
  margin-top: 2em;
  text-align: center;
  margin-bottom: 2em;
}

@media screen and (max-width: 800px) {
  .nav a {
    font-size: 0.9em;
  }
  .author {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 600px) {
  .nav a {
    font-size: 0.7em;
  }
  .author {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 430px) {
  .footer {
    width: 430px;
    background: linear-gradient(178.75deg, rgba(25, 45, 115, 0.7) -5.68%, rgba(33, 21, 78, 0.385) 98.93%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
    padding-top: 2em;
    margin-bottom: 0;
  }
  .up {
    position: absolute;
    visibility: hidden;
  }
  .nav {
    flex-flow: row wrap;

  }
  .nav a {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

  }
}
